<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

    	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Eat Da' Burger Yo!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/models/burger.js"></script>
</head>

<body>
	<img src="/assets/img/2-goofy-crazy-eyes-hamburger-emoji-cartoon-clipart.jpg" width="400px" id="goofy_burger">

    {{{ body }}}

    <a class="blue-text text-lighten-4 right" href="https://github.com/mdotjr/burger.git">Reference Work</a>
</body>
</html>    


